@page
@model PaymentCVSTS.RazorWebApp.Pages.Account.ForbiddenModel
@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="row text-center">
            <div class="col-md-12">
                <h3 class="text-danger">Access Denied</h3>
                <h4 class="text-danger mb-4">You do not have permission to access the payment system.</h4>
                <div>
                    <a asp-page="/Account/Login" asp-page-handler="Logout" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </main>
</div>